*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}  
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns:2 1fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
 ;
}
header{
    background: pink;
    grid-area: header;
  
}
header nav{
    height: 100%;
    background: lightblue;
    display: flex;
    justify-content: center;
}
header nav div ul{
    display: flex;
    /* margin-left: 10px; */
    list-style-type: none;
    justify-content: space-evenly;
}   


main{
    background: red;
    grid-area: main;
}
footer{
    background: yellowgreen;
    grid-area: footer;
}




/* EJEMPLO DE CLASE DE GRIDS */
/* body{
    height: 100vh;
    /* background: blue; */
    /* display: grid;
    grid-template-rows: 1.5fr repeat(2, 2fr) 0.5fr;
    grid-template-columns: 0.5fr repeat(2, 2fr);
    grid-template-areas: 
    "nav header header"
    "nav main main"
    "nav main main"
    "nav footerr footerr"
;
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.header{
       background-color:  gold;
       grid-area: header;
}
.nav{
    background:  gold;
    grid-area: nav;   
} */
/* .main{
    /* background: ; */
    /* grid-area: main;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "sectionUno aside"
    "sectionDos aside"
  ;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
} */
/* #sectionUno{
    background:  gold;
    grid-area: sectionUno;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch; */ */
/* }
#sectionUno div{
    background-color: violet;
}
#sectionDos{
    background:  gold;
    grid-area: sectionDos;
}
.aside{
    background:  gold;
    grid-area: aside;
}
.footerr{
    background:  gold;
    grid-area: footerr;
} */ */

/* //XX-large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}

/* //X-large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* //large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* //medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* //Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}