* {
   margin: 0 !important;
   padding: 0 !important;
   box-sizing: border-box !important; 
}
body{
    height: 100vh;
}
header{
    height: 10vh;
}
main{
    height: 83vh;
}
footer{
    height: 7vh;
}

/* //Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    /* INDEX */
    /* NAVEGACION */
    .titulo__city{
        font-size: 25px !important;
    }
    .nav__iconos{
        height:25px !important;
       height: 20px !important;
       width: 20px !important;

    }
/* IMAGENES DE INICIO  */
    /* INDEX */
    .main__index{
        height: auto;
    }
    .foto__uno{
        height: 400px !important;
    }
    .fotos__medio{
        height: 500px !important;
        height: 400px !important;
    }
    .foto__dos{
        width: 50% !important;
        height: 12px !important;
        width: 50% !important; 
         height: 400px !important;
    }
    .foto__tres{
        width: 50% !important;
        /* height: 400px !important; */

    }
    .foto__cuatro{
         height: 400px !important; 
      
    }
    .footer__allpages{ 
        height: auto !important;
    }
    .logos__redes{
        display: flex !important;
        justify-content: center;
    }
   .footer__p{
    font-size: 12px !important;
   }
    /* CATALOGO */
    .catalogo__titulo{
        font-size: 1em !important;
    }
    .boton__nav--ul{
        margin-left: 15px !important;
        margin-right: 0px !important;
    }
    .img__nav--catalogo{
        height: 20px !important;
       padding-right: 0px !important;
    }
    /* PUBLICIDAD */
    .publicidad__catalogo{
        display: none;
    }
   .main__catalogo{
    height: auto;
   }
   .buzo__stussy{
    font-size: 12px !important;
    text-align: center !important;
   }
   .buzo__essential{
    font-size: 12px !important;
    text-align: center !important;
   }
   .li__s--black{
    padding-top: 3px !important;
   }

   .img__carrito{
    height: 40px !important;
    width: 40px !important;
   }

   .img_pesos{
    height: 20px !important;
    width: 20px !important;
    
   }
   .div__pesos{
    height: 42px !important;
   }
   .text__pesos{
    width: 20px !important;
   }
    .form__contact{
        padding-left: 60px !important;
    }   

}
@media all and (min-width: 385px) and (max-width: 576px) {
    .div__card{
        margin-right: 14px !important;
    }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) { 
    .main__catalogo{
        height: auto;
    }
    .catalogo__titulo{
        height: 1em !important;
    }
  .div__de--imagenes{
    width: 100% !important;
 }
.publicidad__catalogo{
    display: none;
}

.main__catalogo{
    width: 100% !important;
}

.main__miperfil{
    height: auto;
}
.img_pesos{
    height: 25px;
    width: 25px !important;
}
.div__pesos{
    height: 42px;
}
.img__carrito{
    height: 40px;
    width: 40px !important;
}

.text__pesos{
    width: 20px !important;
}
.form__de--contactanos{
    padding-top: 200px !important;
}
.footer__allpages{
    height: 70px !important;
}


}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 992px) and (max-width: 1450px) {
    .publicidad__catalogo {
        display: block;
      }
      .main__compras{
        height: 83vh;
      }
      .footer__allpages {
        height: auto !important;
      }
      .main__miperfil{
        height: 83vh !important;
      }
     
    
}
